html {
  background-image: url('../images/New\ Iceberg\ 3.jpg');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
}

code {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-size: 3.25rem;
  font-weight: 450;
}

.mainPage {
  float: left;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
}

.mainRow {
  background-color: transparent;
  height: 100vh;
}

.hovering {
  font-size: 500%;
}

#mainPageVideo.hovering {
  background-image: url('../images/icebergLeft.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  back
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

#mainPageAbout.hovering {
  background-image: url('../images/icebergMid.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  back
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

#mainPagePhoto.hovering {
  background-image: url('../images/icebergRight.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  back
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}